<aside class="w-64 flex-shrink-0 border-r border-slate-200 dark:border-slate-800 bg-white dark:bg-background-dark flex flex-col">
    <div class="p-6">
        <div class="flex items-center gap-3 mb-8">
            <div class="bg-primary size-10 rounded-lg flex items-center justify-center text-white">
                <span class="material-symbols-outlined">travel_explore</span>
            </div>
            <div class="flex flex-col">
                <h1 class="text-slate-900 dark:text-slate-50 text-base font-bold leading-tight">Admin Panel</h1>
                <p class="text-slate-500 dark:text-slate-400 text-xs font-normal">Travel Trip</p>
            </div>
        </div>
        <nav class="flex flex-col gap-1">
            <a class="flex items-center gap-3 px-3 py-2 text-slate-600 dark:text-slate-400 hover:bg-slate-100 dark:hover:bg-slate-800 rounded-lg transition-colors" target="_blank" href="~/Default/Index">
                <span class="material-symbols-outlined text-[20px]">public</span>
                <p class="text-sm font-medium">Siteye Git</p>
            </a>
            <a class="flex items-center gap-3 px-3 py-2 text-slate-600 dark:text-slate-400 hover:bg-slate-100 dark:hover:bg-slate-800 rounded-lg transition-colors" href="~/Slider/Index">
                <span class="material-symbols-outlined text-[20px]">view_carousel</span>
                <p class="text-sm font-medium">Slider</p>
            </a>
            <a href="~/Blog/BlogList" class="flex items-center gap-3 px-3 py-2 text-slate-600 dark:text-slate-400 hover:bg-slate-100 dark:hover:bg-slate-800 rounded-lg transition-colors">
                <span class="material-symbols-outlined text-[20px]">article</span>
                <p class="text-sm font-medium">Blog Yazıları</p>
            </a>
            <a href="~/Commant/Index" class="flex items-center gap-3 px-3 py-2 text-slate-600 dark:text-slate-400 hover:bg-slate-100 dark:hover:bg-slate-800 rounded-lg transition-colors">
                <span class="material-symbols-outlined text-[20px]">comment</span>
                <p class="text-sm font-medium">Yorumlar</p>
            </a>
            <a class="flex items-center gap-3 px-3 py-2 text-slate-600 dark:text-slate-400 hover:bg-slate-100 dark:hover:bg-slate-800 rounded-lg transition-colors" href="~/User/Userlist">
                <span class="material-symbols-outlined text-[20px]">group</span>
                <p class="text-sm font-medium">Kullanıcılar</p>
            </a>
            <a href="~/Login/Logout" class="flex items-center gap-3 px-3 py-2 text-rose-600 dark:text-rose-400 hover:bg-rose-50 dark:hover:bg-rose-900/20 rounded-lg transition-colors" >
                <span class="material-symbols-outlined text-[20px]">logout</span>
                <p class="text-sm font-medium">Çıkış Yap</p>
            </a>
        </nav>
    </div>
</aside>