@model TravelTripProje.Entities.About

@{
    Layout = "_Layout";
}

<div class="content">
	<div class="wrap">
		<div class="about">
			<h3>Hakkımızda</h3>
			<img src="@Model.ImgUrl" alt=""/>
			<p>@Model.Description </p>
		</div>
	</div>
</div>
